<?xml version="1.0"?>
<config>
    <modules>
        <Webguys_Easytemplate>
            <version>1.0.0.0</version>
        </Webguys_Easytemplate>
    </modules>

    <global>
        <helpers>
            <easytemplate>
                <class>Webguys_Easytemplate_Helper</class>
            </easytemplate>
        </helpers>

        <blocks>
            <easytemplate>
                <class>Webguys_Easytemplate_Block</class>
            </easytemplate>
        </blocks>

        <models>
            <easytemplate>
                <class>Webguys_Easytemplate_Model</class>
                <resourceModel>easytemplate_resource</resourceModel>
            </easytemplate>
            <easytemplate_resource>
                <class>Webguys_Easytemplate_Model_Resource</class>
                <entities>
                    <backend_varchar>
                        <table>easytemplate_template_varchar</table>
                    </backend_varchar>
                </entities>
            </easytemplate_resource>
        </models>

        <models>
            <easytemplate>
                <class>Webguys_Easytemplate_Model</class>
                <resourceModel>easytemplate_resource</resourceModel>
            </easytemplate>
            <easytemplate_resource>
                <class>Webguys_Easytemplate_Model_Resource</class>
                <entities>
                    <template>
                        <table>easytemplate</table>
                    </template>
                    <template_data_varchar>
                        <table>easytemplate_data_varchar</table>
                    </template_data_varchar>
                </entities>
            </easytemplate_resource>
        </models>

        <resources>
            <easytemplate_setup>
                <setup>
                    <module>Webguys_Easytemplate</module>
                </setup>
            </easytemplate_setup>
        </resources>

    </global>

    <phpunit>
        <suite>
            <modules>
                <Webguys_Easytemplate />
            </modules>
        </suite>
    </phpunit>


</config>