<?xml version="1.0"?>
<config>
    <modules>
        <Webguys_Easytemplate>
            <version>1.0.0.3</version>
        </Webguys_Easytemplate>
    </modules>

    <global>
        <helpers>
            <easytemplate>
                <class>Webguys_Easytemplate_Helper</class>
            </easytemplate>
        </helpers>

        <blocks>
            <easytemplate>
                <class>Webguys_Easytemplate_Block</class>
            </easytemplate>
        </blocks>

        <models>
            <easytemplate>
                <class>Webguys_Easytemplate_Model</class>
                <resourceModel>easytemplate_resource</resourceModel>
            </easytemplate>
            <easytemplate_resource>
                <class>Webguys_Easytemplate_Model_Resource</class>
                <entities>
                    <template>
                        <table>easytemplate</table>
                    </template>
                    <group>
                        <table>easytemplate_group</table>
                    </group>

                    <template_data_varchar>
                        <table>easytemplate_data_varchar</table>
                    </template_data_varchar>
                    <template_data_text>
                        <table>easytemplate_data_text</table>
                    </template_data_text>
                    <template_data_int>
                        <table>easytemplate_data_int</table>
                    </template_data_int>
                    <template_data_datetime>
                        <table>easytemplate_data_datetime</table>
                    </template_data_datetime>
                    <template_data_decimal>
                        <table>easytemplate_data_decimal</table>
                    </template_data_decimal>
                </entities>
            </easytemplate_resource>
        </models>

        <resources>
            <easytemplate_setup>
                <setup>
                    <module>Webguys_Easytemplate</module>
                </setup>
            </easytemplate_setup>
        </resources>

    </global>

    <frontend>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <easytemplate_core_block_abstract_to_html_after>
                        <type>singleton</type>
                        <class>easytemplate/observer</class>
                        <method>core_block_abstract_to_html_after</method>
                    </easytemplate_core_block_abstract_to_html_after>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </frontend>

    <adminhtml>
        <events>
            <adminhtml_cms_page_edit_tab_main_prepare_form>
                <observers>
                    <easytemplate_adminhtml_cms_page_edit_tab_main_prepare_form>
                        <type>singleton</type>
                        <class>easytemplate/observer</class>
                        <method>adminhtml_cms_page_edit_tab_main_prepare_form</method>
                    </easytemplate_adminhtml_cms_page_edit_tab_main_prepare_form>
                </observers>
            </adminhtml_cms_page_edit_tab_main_prepare_form>
            <cms_page_save_commit_after>
                <observers>
                    <easytemplate_cms_page_save_commit_after>
                        <type>singleton</type>
                        <class>easytemplate/observer</class>
                        <method>cms_page_save_commit_after</method>
                    </easytemplate_cms_page_save_commit_after>
                </observers>
            </cms_page_save_commit_after>
        </events>
        <layout>
            <updates>
                <easytemplate>
                    <file>Webguys_Easytemplate.xml</file>
                </easytemplate>
            </updates>
        </layout>
        <translate>
            <modules>
                <easytemplate>
                    <files>
                        <default>Webguys_Easytemplate.csv</default>
                    </files>
                </easytemplate>
            </modules>
        </translate>
    </adminhtml>

    <phpunit>
        <suite>
            <modules>
                <Webguys_Easytemplate />
            </modules>
        </suite>
    </phpunit>
</config>