<?xml version="1.0"?>
<config>
    <tabs>
        <webguys translate="label" module="easytemplate">
            <label>Webguys</label>
            <sort_order>10</sort_order>
        </webguys>
    </tabs>
    <sections>
        <easytemplate translate="label" module="easytemplate">
            <label>EasyTemplate</label>
            <tab>webguys</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <configuration translate="label" module="easytemplate">
                    <label>Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <use_in_categories translate="label,comment">
                            <label>Use in categories</label>
                            <comment>Defines if the easytemplate mode is available in categories</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </use_in_categories>
                        <automatically_clean_database translate="label,comment">
                            <label>Auto clean database</label>
                            <comment>Will delete all unused data from old xml markups</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </automatically_clean_database>
                        <cache_lifetime translate="label,comment">
                            <label>Cache lifetime</label>
                            <comment>Lifetime (in minutes) of easytemplate cache if caching is enabled</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cache_lifetime>
                    </fields>
                </configuration>
            </groups>
        </easytemplate>
    </sections>
</config>
