<header>
  <h1>{{ site.project_name }}</h1>
  <p>{{ site.description }}</p>
  <p class="view"><a href="{{ site.repository_url }}">View the Project on GitHub <small>{{ site.repository_shorthand }}</small></a></p>
  <ul>
    <li><a href="{{ site.repository_url }}/zipball/master">Download <strong>ZIP File</strong></a></li>
    <li><a href="{{ site.repository_url }}/tarball/master">Download <strong>TAR Ball</strong></a></li>
    <li><a href="{{ site.repository_url }}">Fork On <strong>GitHub</strong></a></li>
  </ul>
</header>
