.page-templates .template-box {
    border: 1px solid #cddddd;
    padding: 1em;
    background: #e7efef;
    margin: 1.5em 0;
}

.page-templates .template-box .information {
    min-width: 140px;
}

.page-templates .template-header {
    border: 0;
    width: 100%;
    background: #e7efef;
    border-bottom: 1em solid #e7efef;
}

.page-templates .form-list td.comment {
    padding-left: 5px;
    color: #6f8992;
    font-size: .9em;
}

#page_template_selector{
    width: 98%;
    background:#6F8992;
    margin:15px 0;
    padding:1% 1%;
    float:left;
}
#page_template_selector .template-wrapper{
    background:white;
    margin:0;
    float:left;
    margin-right:5px;
    padding:5px 0 5px 5px;
}
#page_template_selector .template-wrapper .title{
    display:block;
    text-align:center;
    margin:0px 0 6px;
    font-weight:bold
}
#page_template_selector .template-wrapper .template{
    background:white;
    float:left;
    display:inline-block;
    margin:0px 10px 10px 5px;
    border:1px solid lightgray;
}
#page_template_selector .template-wrapper .template .title{
    text-align:center;
    font-weight: normal;
}
#page_template_selector .template-wrapper .template img {
    margin:0 5px;
    cursor: pointer;
}
.template_overview {
    width:100%
}
.easytemplate .clear{
    clear:both;
}
.template_content_status{
    margin-top:-10px;
    padding:5px 20px;
    margin-bottom:10px;
    border:1px solid #6F8992;
    background:#6F8992;
    color:white;
}
.easytemplate .information{
    padding: 0 10px 0 0 ;
    margin:0 10px 0 0;
}
.easytemplate .information.last{
    padding: 0;
    margin:0;
}
.easytemplate .information div{
    margin-right: 8px;
}
.easytemplate span.separator {
    padding: 0 10px;
}
.easytemplate span.label {
    font-weight: bold;
}
.easytemplate span.desc {
    font-weight: normal;
}
.easytemplate button.easytemplate.top{
    margin:5px 5px 0 0;
}
.easytemplate button.easytemplate.bottom{
    margin-top:-2px
}